/*Content-style*/

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}


/* 2 Способ - Придать адаптивность всем изображениям. При этом данные изображения будут себя ввести как блочные элементы (block) */

img {
  display: block;
  height: auto;
  max-width: 100%;
}


/* 3 Способ - Придать адаптивность всем изображениям, расположенных в элементе с id="main". При этом данные изображения будут себя ввести как блочные элементы (block) */

#main img {
  display: block;
  height: auto;
  max-width: 100%;
}

html body div.container-fluid {
  position: relative;
  height: 100%;
  margin-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

html body div.container-fluid div.row div.col-lg-6.col-md-6.col-lg-offset-3.col-md-offset-3 div.row div.col-lg-12.col-md-12 {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
}

html body div.container-fluid div.row div.col-lg-6.col-md-6.col-lg-offset-3.col-md-offset-3 div.row div.col-lg-12.col-md-12 article h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #626262;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

html body div.container-fluid div.row div.col-lg-6.col-md-6.col-lg-offset-3.col-md-offset-3 div.row div.col-lg-12.col-md-12 article small {
  font-family: 'Open Sans' sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #626262;
  margin-left: 20px;
}

html body div.container-fluid div.row div.col-lg-6.col-md-6.col-lg-offset-3.col-md-offset-3 div.row div.col-lg-12.col-md-12 article p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: #1c1c1c;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

html body main div.container-fluid div.row div.col-lg-12.col-md-12 {
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 30px 10 0;
}

html body div.container-fluid div.row div.col-lg-8.col-md-8.col-lg-offset-2.col-md-offset-2 div.text-center div#pagination_controls {
  position: relative;
  color: #2b2b2b;
  font-size: 18px;
  margin: 0 auto;
  padding-bottom: 50px;
}

html body div.container-fluid div.row div.col-lg-8.col-md-8.col-lg-offset-2.col-md-offset-2 div.text-center div#pagination_controls a {
  color: #717171;
  font-size: 18px;
}

html body main div.container-fluid div.row div.col-lg-12.col-md-12 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  color: #424141;
}

html body div.container-fluid div.col-lg-8.col-md-8.col-lg-offset-2.col-md-offset-2 div.row div.col-lg-9.col-md-8 div.btn-toolbar {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/*Footer*/


/*Other style*/




/* ADMIN PANEL */

html body div.container-fluid div.row div.col-lg-12.col-md-12 div.row div.col-lg-5.col-md-5 div#accordion.panel-group div.panel.panel-default {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #36313b;
  margin-bottom: 15px;
}

html body div.container-fluid div.row div.col-lg-12.col-md-12 div.col-lg-6.col-md-6 div.col-lg-8 div.panel.panel-default {
  border: none;
}

html body main div.container-fluid div.row div.col-lg-10.col-md-10.col-lg-offset-1.col-md-offset-1 form.form fieldset div.row a.navbar-brand img#main {
  height: 0.7em;
  opacity: 0.4;
  margin-left: -10px;
}

html body main div.container-fluid div.row div.col-lg-10.col-md-10.col-lg-offset-1.col-md-offset-1 form.form fieldset div.row div.col-lg-12 {
  margin-bottom: 20px;
  position: relative;
}

html body main div.container-fluid div.row div.col-lg-10.col-md-10.col-lg-offset-1.col-md-offset-1 form.form fieldset div.row div.col-lg-12 div.col-lg-2.col-lg-push-5 h4 {
  color: #343434;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: -5px;
}

html body main div.container-fluid div.row div.col-lg-10.col-md-10.col-lg-offset-1.col-md-offset-1 form.form fieldset div.row div.col-lg-12 div.col-lg-5 h4 {
  color: #343434;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: -5px;
}

html body div.container-fluid div.row div.col-lg-6.col-md-6.col-lg-offset-3.col-md-offset-3 div.row div.col-lg-12.col-md-12 article {
  min-height: 20px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

html body div.container-fluid div.row div.col-lg-6.col-md-6.col-lg-offset-3.col-md-offset-3 div.row div.col-lg-12.col-md-12 {
  border: none;
}

@media (min-width: 768px) {
  .container-small {
    width: 600px;
  }
  .container-large {
    width: 860px;
  }
}

@media (min-width: 992px) {
  .container-small {
    width: 800px;
  }
  .container-large {
    width: 1120px;
  }
}

@media (min-width: 1200px) {
  .container-small {
    width: 960px;
  }
  .container-large {
    width: 1400px;
  }
}

.container-small, .container-large {
  max-width: 100%;
}

.container-small, .container-large {
  max-width: 100%;
}
