/*Content-style*/

html body div.container-fluid {
  background: #AFDAEC;
}

html body div.container-fluid div.col-lg-5.col-md-5.col-lg-offset-2.col-md-offset-2 div.row div.col-lg-12.col-md-12 {
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  margin: 15px 0 0;
}

html body div.container-fluid div.col-lg-5.col-md-5.col-lg-offset-2.col-md-offset-2 div.row div.col-lg-12.col-md-12 p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 10px;
  color: #000;
}

html body div.container-fluid div.col-lg-5.col-md-5.col-lg-offset-2.col-md-offset-2 div.row div.col-lg-12.col-md-12 h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  color: #424141;
}

html body div.container-fluid div.col-lg-5.col-md-5.col-lg-offset-2.col-md-offset-2 div.row div.col-lg-12.col-md-12 small {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #5e5e5e;
  font-weight: 300;
  padding-left: 20px;
}

html body div.container-fluid div.col-lg-5.col-md-5.col-lg-offset-2.col-md-offset-2 div.row div.col-lg-12.col-md-12 div.btn-toolbar {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


/*Колонка справа*/

html body div.container-fluid div.row div.col-lg-3.col-md-2 {
  padding-top: 5px;
}

html body div.container-fluid div.col-lg-2.col-md-2.col-lg-offset-1.col-md-offset-1 {
  background: #AFDAEC;
  border: none;
  padding-top: 15px;
  font-family: 'Open Sans';
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

html body div.container-fluid div.col-lg-2.col-md-2.col-lg-offset-1.col-md-offset-1 div.row div.panel.panel-default div.panel-heading {
  background: #2C3E50;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
}


/*Footer*/

html body div.container-fluid footer.footer.text-center div.container-fluid {
  background: #2C3E50;
  padding-left: -15px;
  padding-right: -15px;
}


/*Other style*/

body {
  padding-top: 50px;
}

.navbar navbar-default navbar-fixed-top {
  background: #34495e;
}

@media (min-width: 768px) {
  .container-small {
    width: 600px;
  }
  .container-large {
    width: 860px;
  }
}

@media (min-width: 992px) {
  .container-small {
    width: 800px;
  }
  .container-large {
    width: 1120px;
  }
}

@media (min-width: 1200px) {
  .container-small {
    width: 960px;
  }
  .container-large {
    width: 1400px;
  }
}

.container-small, .container-large {
  max-width: 100%;
}

.container-small, .container-large {
  max-width: 100%;
}

.container .row {
  margin-top: 10px;
}

.navbar {
  margin-bottom: 20px;
}

.nav-tabs {
  margin-bottom: 15px;
}

.pager ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #767676;
  text-align: center;
  height: 600px;
  display: block;
  /* добавляем блочность, если необходимо */
  font-size: 0;
  /* убираем нежелательные отсутпы у дочерних элементов */
}

.pager li {
  background: none;
  padding: 10px;
  margin: 0 20px;
  font-size: 16px;
  /* возвращаем размер шрифта */
  display: inline-block;
  /* позволяем vertical-align выравнивать себя по вертикали */
  vertical-align: middle;
  /* и выравниваем */
}

.pager a, .pager a:hover {
  color: #fff;
}

.pager li>a:hover, .pager li>a:focus {
  text-decoration: none;
  background-color: #d4d4d4;
}

.pager li>a, .pager li>span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #95a5a6;
  border: 1px solid transparent;
  border-radius: 15px;
}
