



body {
  padding-top: 50px;
}

.navbar navbar-default navbar-fixed-top
{
  background:#34495e;
}

@media (min-width: 768px) {
 .container-small {
   width: 600px;
 }
 .container-large {
   width: 860px;
 }
}
@media (min-width: 992px) {
  .container-small {
    width: 800px;
  }
  .container-large {
    width: 1120px;
  }
}
@media (min-width: 1200px) {
  .container-small {
    width: 960px;
  }
  .container-large {
    width: 1400px;
  }
}

.container-small, .container-large {
  max-width: 100%;
}


.container-small, .container-large {
  max-width: 100%;
}

.container .row {
   margin-top: 10px;
 }
.navbar {
  margin-bottom: 20px;
}

.nav-tabs {
  margin-bottom: 15px;
}

.pager ul {
	padding: 0;
	margin: 0;
	list-style: none;
	background: #767676;
	text-align: center;
	height: 600px;
	display: block; /* добавляем блочность, если необходимо */
	font-size: 0; /* убираем нежелательные отсутпы у дочерних элементов */
}

.pager li  {
	background: none;
	padding: 10px;
	margin: 0 20px;
	font-size: 16px; /* возвращаем размер шрифта */
	display: inline-block; /* позволяем vertical-align выравнивать себя по вертикали */
	vertical-align: middle; /* и выравниваем */
}

.pager a, .pager a:hover {
    color: #fff;
}

.pager li > a:hover, .pager li > a:focus {
    text-decoration: none;
    background-color: #95a5a6;
}


.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #2c3e50;
    border: 1px solid transparent;
    border-radius: 15px;

}
